Coursera/A developer's guide to the Internet of Things (IoT)/Week-2/Excercise/test.json
[{"id":"6f32262d.90cdd8","type":"debug","z":"d23ac9e3.2dc538","name":"Output","active":true,"console":"false","complete":"payload","x":950,"y":300,"wires":[]},{"id":"95059387.6afa7","type":"debug","z":"d23ac9e3.2dc538","name":"2nd Output","active":true,"console":"false","complete":"payload","x":970,"y":380,"wires":[]},{"id":"97654ce1.689ab","type":"debug","z":"d23ac9e3.2dc538","name":"3rd Output","active":true,"console":"false","complete":"payload","x":970,"y":460,"wires":[]},{"id":"e8249c22.17db6","type":"function","z":"d23ac9e3.2dc538","name":"Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["6f32262d.90cdd8"]]},{"id":"1f8a8903.e07577","type":"function","z":"d23ac9e3.2dc538","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["6f32262d.90cdd8"]]},{"id":"2bf5496c.d40ab6","type":"function","z":"d23ac9e3.2dc538","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":420,"y":320,"wires":[["6f32262d.90cdd8"],["95059387.6afa7"],["97654ce1.689ab"]]},{"id":"18539f43.e7ac61","type":"function","z":"d23ac9e3.2dc538","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":380,"y":380,"wires":[["6f32262d.90cdd8"],["95059387.6afa7"],["97654ce1.689ab"]]},{"id":"867e2ae4.7981d8","type":"function","z":"d23ac9e3.2dc538","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["6f32262d.90cdd8","324dc2f3.cdb23e"]]},{"id":"989dc3f3.67624","type":"function","z":"d23ac9e3.2dc538","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["6f32262d.90cdd8","324dc2f3.cdb23e"]]},{"id":"ca4a9a05.35b568","type":"function","z":"d23ac9e3.2dc538","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[["6f32262d.90cdd8","48150def.b7eaf4"]]},{"id":"6aa765b7.95589c","type":"function","z":"d23ac9e3.2dc538","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["6f32262d.90cdd8"]]},{"id":"48150def.b7eaf4","type":"json","z":"d23ac9e3.2dc538","name":"","x":590,"y":540,"wires":[["95059387.6afa7","324dc2f3.cdb23e"]]},{"id":"324dc2f3.cdb23e","type":"function","z":"d23ac9e3.2dc538","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":450,"wires":[["97654ce1.689ab"]]},{"id":"199f701e.e6609","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["e8249c22.17db6"]]},{"id":"e069c78e.1f9638","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["1f8a8903.e07577"]]},{"id":"184455e6.e7bbaa","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["2bf5496c.d40ab6"]]},{"id":"bedfe3a7.41202","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["18539f43.e7ac61"]]},{"id":"b816de9.f47e92","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["867e2ae4.7981d8"]]},{"id":"a1442874.5ebbd8","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":500,"wires":[["989dc3f3.67624"]]},{"id":"fd13e6ab.02ec18","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":540,"wires":[["ca4a9a05.35b568"]]},{"id":"b85f2925.47a0d8","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":100,"wires":[["6aa765b7.95589c"]]},{"id":"9e4aa39b.61b56","type":"function","z":"d23ac9e3.2dc538","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["6f32262d.90cdd8"]]},{"id":"c0816f04.3f7e9","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":600,"wires":[["9e4aa39b.61b56"]]},{"id":"4c6c003f.b394","type":"catch","z":"d23ac9e3.2dc538","name":"Catch node","scope":["9e4aa39b.61b56"],"x":430,"y":640,"wires":[["2aada32c.d5525c"]]},{"id":"2a128c69.d5ed74","type":"function","z":"d23ac9e3.2dc538","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["6f32262d.90cdd8"]]},{"id":"e04ef678.1fb108","type":"inject","z":"d23ac9e3.2dc538","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":60,"wires":[["2a128c69.d5ed74"]]},{"id":"2aada32c.d5525c","type":"debug","z":"d23ac9e3.2dc538","name":"entire msg","active":true,"console":"false","complete":"true","x":970,"y":540,"wires":[]}]