Coursera/A developer's guide to the Internet of Things (IoT)/Week-2/Excercise/test2.txt
[{"id":"ed9566e2.126a98","type":"template","z":"943925bf.6bc6d8","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Drinks available on : {{payload.day}}</h1>\n\n<ul>\n{{#payload.drinks}}\n<li>{{drink}}</li>    \n{{/payload.drinks}}\n</ul>\n\n<h3>Specials:</h3> \n<hr>\n<ul>\n{{^payload.specials}}\nNone today, sorry      \n{{/payload.specials}}\n\n{{#payload.specials}}\n<li>{{drink}}</li>\n{{/payload.specials}}\n</ul>","x":450,"y":900,"wires":[["15b02a6f.ea4fd6"]]},{"id":"b3694c9e.4c96b","type":"function","z":"943925bf.6bc6d8","name":"Drinks","func":"msg.payload =   \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":880,"wires":[["ed9566e2.126a98"]]},{"id":"4c8e5f10.b371a","type":"function","z":"943925bf.6bc6d8","name":"Specials","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}],\n          'specials':[{'drink': 'hot chocolate'}, \n                      {'drink': 'espresso'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":920,"wires":[["ed9566e2.126a98"]]},{"id":"8e28ca8e.71d738","type":"http in","z":"943925bf.6bc6d8","name":"/menu","url":"/menu","method":"get","swaggerDoc":"","x":90,"y":880,"wires":[["b3694c9e.4c96b"]]},{"id":"74bef85d.8b4108","type":"http response","z":"943925bf.6bc6d8","name":"","x":790,"y":900,"wires":[]},{"id":"174cd750.e8b329","type":"http in","z":"943925bf.6bc6d8","name":"/specials","url":"/specials","method":"get","swaggerDoc":"","x":100,"y":920,"wires":[["4c8e5f10.b371a"]]},{"id":"15b02a6f.ea4fd6","type":"function","z":"943925bf.6bc6d8","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":900,"wires":[["74bef85d.8b4108"]]}]