Coursera/A developer's guide to the Internet of Things (IoT)/Week-2/Assignment/assignment1.txt
[{"id":"45631db.6c208e4","type":"inject","z":"4517b6e7.945a7","name":"Input","topic":"random","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":420,"wires":[["dde6faf9.e47f78"]]},{"id":"dde6faf9.e47f78","type":"random","z":"4517b6e7.945a7","name":"RandomNumberGenerator","low":"0","high":"10","inte":"true","x":580,"y":520,"wires":[["4ccf9744.66008"]]},{"id":"4ccf9744.66008","type":"switch","z":"4517b6e7.945a7","name":"ConditionCheck","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"str"},{"t":"gte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":400,"wires":[["8ff760b.581c9a"],["6591e9ef.4b73f"]]},{"id":"8ff760b.581c9a","type":"template","z":"4517b6e7.945a7","name":"Lower Number","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a low number","output":"str","x":980,"y":320,"wires":[["cbe15ba9.88e6f"]]},{"id":"6591e9ef.4b73f","type":"template","z":"4517b6e7.945a7","name":"Higher Number","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a high number","output":"str","x":980,"y":480,"wires":[["cbe15ba9.88e6f"]]},{"id":"cbe15ba9.88e6f","type":"debug","z":"4517b6e7.945a7","name":"Output Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1260,"y":400,"wires":[]}]